beautifulsoup4==4.12.3
duckduckgo-search==6.1.5
langchain==0.2.3
langchain-cli==0.0.24
langchain-core==0.2.5
langchainhub==0.1.18
langserve==0.2.1
langsmith==0.1.75
openai==1.33.0
pydantic<2
tavily-python==0.3.3
