beautifulsoup4==4.12.3
duckduckgo-search==5.3.0
langchain==0.1.14
langchain-cli==0.0.21
langchain-core==0.1.40
langchainhub==0.1.15
langserve==0.0.51
langsmith==0.1.40
openai==1.16.2
pydantic<2
tavily-python==0.3.3
