beautifulsoup4==4.12.3
duckduckgo-search==6.1.7
langchain==0.2.6
langchain-cli==0.0.25
langchain-core==0.2.10
langchainhub==0.1.20
langserve==0.2.2
langsmith==0.1.82
openai==1.35.7
pydantic<2
tavily-python==0.3.3
